#macro(htmlHead)
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spring Web App Skeleton</title>

</head>
#end

#macro(header)
<!doctype html>
<html>
	#htmlHead()

<body>
	<ul>
		<li><a href="$LINK_TOOL.relative('/')">Home</a></li>
	</ul>

	#if ($!USER)
		Logged as: $!USER.email
		<a href="$LINK_TOOL.relative('user/logout')">Logout</a>
	#else
		<div>
			<a href="$LINK_TOOL.relative('user/login')">Login</a> / <a href="$LINK_TOOL.relative('user/register')">Register</a>
		</div>
	#end
#end

#macro(footer)
	<div>
		<p>INFORMATIONS:</p>
		<ul>
			<li><a href="$LINK_TOOL.relative('act/contact')">Contact</a></li>
			<li><a href="$LINK_TOOL.relative('act/career')">Career</a></li>
			<li><a href="$LINK_TOOL.relative('act/faq')">FAQ</a></li>
		</ul>
	</div>

	<footer>
		<div>
			&copy; $!DATE_TOOL.format("YYYY", $!DATE_TOOL.getSystemDate()) Spring Web App Skeleton
		</div>
	</footer>

</body>
</html>
#end